In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
os.listdir("research")

['.DS_Store',
 'CHES2019V3.csv',
 'CHES2019V3.numbers',
 '2019_CHES_codebook.pdf',
 'CHES2019_experts.csv']

In [14]:
df = pd.read_csv("research/CHES2019_experts.csv")

Empty DataFrame
Columns: [id, party, party_name, party_id, position, eu_salience, eu_dissent, eu_blur, lrecon, lrecon_blur, lrecon_dissent, lrecon_salience, galtan, galtan_blur, galtan_dissent, galtan_salience, lrgen, immigrate_policy, immigra_salience, immigrate_dissent, multiculturalism, multicult_salience, multicult_dissent, redistribution, redist_salience, environment, enviro_salience, spendvtax, deregulation, econ_interven, civlib_laworder, sociallifestyle, religious_principles, ethnic_minorities, nationalism, urban_rural, protectionism, regions, russian_interference, anti_islam_rhetoric, people_vs_elite, antielite_salience, corrupt_salience, members_vs_leadership, eu_cohesion, eu_foreign, eu_intmark, eu_budgets, eu_asylum, party_a_econ, party_b_econ, party_c_econ, gender, dob, lrecon_self, galtan_self, cname, eu_position_sd, lrecon_sd, galtan_sd, eu_econ_require, eu_political_require, eu_googov_require]
Index: []

[0 rows x 63 columns]

In [21]:
df[df.cname == "swe"]

,id,party,party_name,party_id,position,eu_salience,eu_dissent,eu_blur,lrecon,lrecon_blur,...,dob,lrecon_self,galtan_self,cname,eu_position_sd,lrecon_sd,galtan_sd,eu_econ_require,eu_political_require,eu_googov_require
3418,11,1,V,1601,2.0,2.0,NaN,3.0,1,NaN,...,1965.0,8.0,2.0,swe,0.727607,1.147247,1.675955,NaN,NaN,NaN
3419,16,1,V,1601,3.0,4.0,5.0,NaN,1,2,...,1975.0,NaN,NaN,swe,0.727607,1.147247,1.675955,NaN,NaN,NaN
3420,14,1,V,1601,3.0,2.0,NaN,7.0,2,2,...,1974.0,7.0,4.0,swe,0.727607,1.147247,1.675955,NaN,NaN,NaN
3421,4,1,V,1601,3.0,6.0,6.0,NaN,2,NaN,...,1972.0,5.0,5.0,swe,0.727607,1.147247,1.675955,NaN,NaN,NaN
3422,17,1,V,1601,2.0,6.0,NaN,2.0,2,NaN,...,1977.0,6.0,4.0,swe,0.727607,1.147247,1.675955,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3549,13,8,SD,1610,1.0,8.0,NaN,2.0,5,NaN,...,1982.0,6.0,2.0,swe,0.831370,1.872793,1.300452,NaN,NaN,NaN
3550,2,8,SD,1610,3.0,7.0,NaN,10.0,1,NaN,...,1962.0,6.0,1.0,swe,0.831370,1.872793,1.300452,NaN,NaN,NaN
3551,6,8,SD,1610,1.0,7.0,0.0,NaN,6,8,...,1975.0,5.0,7.0,swe,0.831370,1.872793,1.300452,NaN,NaN,NaN
3552,11,8,SD,1610,1.0,5.0,NaN,1.0,7,NaN,...,1965.0,8.0,2.0,swe,0.831370,1.872793,1.300452,NaN,NaN,NaN
3553,17,8,SD,1610,2.0,7.0,NaN,2.0,7,NaN,...,1977.0,6.0,4.0,swe,0.831370,1.872793,1.300452,NaN,NaN,NaN